body {
  font-family: 'Poiret One', cursive;
  margin: 0;
  background: #000;
}
video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
 background: url('../assets/sample.png') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade {
   opacity: .5;
}

#polina {
  font-weight : 100;
  background  : rgba(0,0,0,0.3);
  color       : white;
  padding     : 2rem;
  width       : 33%;
  margin      : 2rem;
  float       : right;
  font-size   : 1.2rem;
}
h1 {
  font-size      : 3rem;
  text-transform : uppercase;
  margin-top     : 0;
  letter-spacing : .3rem;
  text-shadow    : 1px 1px 2px rgba(255,255,255,.2);
}
#polina button {
  display       : block;
  width         : 80%;
  padding       : .4rem;
  border        : none;
  margin        : 1rem auto;
  font-size     : 1.3rem;
  background    : rgba(255,255,255,0.23);
  color         : #fff;
  border-radius : 3px;
  cursor        : pointer;
  transition    : .3s background;
  margin-bottom : 0;
}
#polina button:hover {
   background: rgba(0,0,0,0.5);
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background:rgba(0,0,0,0.5);
  padding: .5rem;
  transition: .6s background;
}
a:hover{
  background:rgba(0,0,0,0.9);
}
li {
  list-style     : none;
  padding-bottom : 10px;
  font-size      : 18px;
}
li:before {
  font        : normal normal normal 14px/1 FontAwesome;
  content     : "\f08a";
  margin-left : -36px;
}
button {
  font-family: 'Poiret One', cursive;
}
blockquote {
  font-family : 'Cedarville Cursive', cursive;
}
@media screen and (max-width: 500px) {
  div{width:70%;}
}
@media screen and (max-width: 680px) {
  #polina {
    padding   : 15px;
    width     : 45%;
    font-size : 10px;
  }
  h1 {
    font-size : 15px;
  }
  blockquote {
    font-size : 12px;
    margin    : 0;
  }
  blockquote .fa {
    font-size : 8px;
  }
  li {
    font-size : 12px;
  }
  li:before {
    font-size : 10px;
  }
  #polina button {
    font-size : 12px;
  }
}
@media screen and (max-device-width: 800px) {
  html { background: url(../assets/sample.png) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}